body {
  background-color: whitesmoke;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  font-family: sans-serif;
  color: white;
  background-color: tomato;
  height: 200px;
  width: 200px;
  margin: 0px 20px;
}
