body {
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 100px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  border: 2px solid grey;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}
